* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 30px 0;
  font-size: 60px;
  text-align: center;
}

h2 {
  text-align: center;
}

#books {
  width: 80%;
  margin: auto;
  border: 3px solid black;
}

hr {
  margin: 30px auto;
  height: 4px;
  width: 20%;
  background-color: black;
}

form {
  width: 44%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#btn {
  width: fit-content;
  padding: 5px 25px;
  font-size: 14px;
  font-weight: 700;
  align-self: flex-end;
}

.field {
  height: 40px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #eef1f1;
  padding: 3px 12px;
}

.two {
  background-color: white;
}

.book p {
  font-size: 19px;
}

.remove {
  padding: 1px 8px;
  background-color: white;
  box-shadow: 1px 2px;
}
